<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>生成二维码</title>
</head>
<body>
<form action="add" method="post">
    <table style="width: 900px">
        <tr>
            <td>受理日期</td>
            <td><input type="text" name="acceptDate"/></td>
        </tr>
        <tr>
            <td>公证员姓名</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>卷宗号</td>
            <td><input type="text" name="dossier"/></td>
        </tr>
        <tr>
            <td>编号</td>
            <td><input type="text" name="number"/></td>
        </tr>
        <tr>
            <td>申请人</td>
            <td><input type="text" name="applicant"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">生成二维码</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
